<!DOCTYPE html>
<!-- -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>
            NETNUL - Projects
        </title>
    </head>
    <body background="../static/images/textures/twinkle.gif">
        <br><br>
        <table align="center">
            <tr><th>
                <table id="maintable" align="center">
                    <tr><th>
                        <table id="projecttable" align="center">
                           <tr><th id="projectheadercell">
                                <h2>======== dieTunes ========<h2>
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                DESCRIPTION:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                A simple Java-based music player for macOS.<br>
                                Currently only supports WAV, AIFF, AU audio formats.<br><br>
                                Future versions will:<br>
                                &emsp;- Extend support to other file formats<br>
                                &emsp;- Add new features to the user interface<br>                     
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                IMAGES:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                <a href="../projects/dieTunes/preview1.png">
                                    <img src="../projects/dieTunes/preview1.png" alt="preview1.png" width="200" height="160">
                                </a>
                                <a href="../projects/dieTunes/preview2.png">
                                    <img src="../projects/dieTunes/preview2.png" alt="preview2.png" width="200" height="160">
                                </a>
                                <a href="../projects/dieTunes/preview3.png">
                                    <img src="../projects/dieTunes/preview3.png" alt="preview3.png" width="200" height="160">
                                </a>
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                DOWNLOAD INSTRUCTIONS:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                1. Click on "dieTunes-v1.tar.gz" in the "Download Links" section.<br><br>
                                2. Save the file.<br><br>
                                3. Open the Terminal application located at /Applications/Utilities/Terminal.app<br><br>
                                4. Navigate to the Downloads folder by entering the following command:<br><br>
                                <table id="codetable" align="center">
                                    <tr><th>
                                        $ cd ~/Downloads/
                                    </th></tr>
                                </table><br>
                                5. Un-zip and un-tar the tar bundle using the following command:<br><br>
                                <table id="codetable" align="center">
                                    <tr><th>
                                        $ tar zxvf dieTunes-v1.tar.gz
                                    </th></tr>
                                </table><br>
                                6. A new dieTunes-v1 folder should now exist in the ~/Downloads/ directory.<br><br>
                                7. Navigate into this new dieTunes-v1 folder using Finder.<br><br>
                                8. Double-click the dieTunes-v1.jar file.<br><br>
                                9. For more information, read the README.txt file in the dieTunes-v1 folder.
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                DOWNLOAD LINKS:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                &gt;:&nbsp;<a href="../projects/dieTunes/dieTunes-v1.tar.gz">dieTunes-v1.tar.gz</a>
                            </th></tr>
                        </table>
                    </th></tr>
                </table>
            </th></tr>
            <tr><th>
                <br>
                <table align="center">
                    <tr><th id="spacecell">
                        <form action="projects.html">
                            <input type="submit" value="BACK" id="mainbutton">
                        </form>
                    </th></tr>
                </table>
            </th></tr>
        </table>
    </body>
</html>
