<!DOCTYPE html>
<!-- -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>
            NETNUL - Projects
        </title>
    </head>
    <body background="../static/images/textures/twinkle.gif">
        <br><br>
        <table align="center">
            <tr><th>
                <table id="maintable" align="center">
                    <tr><th> 
                        <table id="projecttable" align="center">
                           <tr><th id="projectheadercell">
                                <h2>======== Seeseq ========<h2>
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                DESCRIPTION:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                A tool for visualizing number sequences.<br>
                                Currently only supports a handful of visualization schemes.<br><br>
                                Future versions will:<br>
                                &emsp;- Include more visualization options<br>
                                &emsp;- Include more number sequence choices<br>
                                &emsp;- Improve calculation and display time efficiency<br>
                                &emsp;- Add new features to the user interface<br> 
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                IMAGES:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                <a href="../projects/Seeseq/preview1.png">
                                    <img src="../projects/Seeseq/preview1.png" alt="preview1.png" width="200" height="160">
                                </a>
                                <a href="../projects/Seeseq/preview2.png">
                                    <img src="../projects/Seeseq/preview2.png" alt="preview2.png" width="200" height="160">
                                </a>
                                <a href="../projects/Seeseq/preview3.png">
                                    <img src="../projects/Seeseq/preview3.png" alt="preview3.png" width="200" height="160">
                                </a>
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                DOWNLOAD INSTRUCTIONS:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                1. Click on "Seeseq-v1.tar.gz" in the "Download Links" section.<br><br>
                                2. Save the file.<br><br>
                                3. Open the Terminal application located at /Applications/Utilities/Terminal.app<br><br>
                                4. Navigate to the Downloads folder by entering the following command:<br><br>
                                <table id="codetable" align="center">
                                    <tr><th>
                                        $ cd ~/Downloads/
                                    </th></tr>
                                </table><br>
                                5. Un-zip and un-tar the tar bundle using the following command:<br><br>
                                <table id="codetable" align="center">
                                    <tr><th>
                                        $ tar zxvf Seeseq-v1.tar.gz
                                    </th></tr>
                                </table><br>
                                6. A new Seeseq folder should now exist in the ~/Downloads/ directory.<br><br>
                                7. Navigate into this new Seeseq folder using Finder.<br><br>
                                8. Double-click the Seeseq.jar file.<br><br>
                                9. For more information, read the README.txt file in the Seeseq folder.
                            </th></tr>
                            <tr><th id="projectsubheadercell">
                                DOWNLOAD LINKS:
                            </th></tr>
                            <tr><th id="projectbodycell">
                                &gt;:&nbsp;<a href="../projects/Seeseq/Seeseq-v1.tar.gz">Seeseq-v1.tar.gz</a>
                            </th></tr>
                        </table>
                    </th></tr>
                </table>
            </th></tr>
            <tr><th>
                <br>
                <table align="center">
                    <tr><th id="spacecell">
                        <form action="projects.html">
                            <input type="submit" value="BACK" id="mainbutton">
                        </form>
                    </th></tr>
                </table>
            </th></tr>
        </table>
    </body>
</html>
